---
layout: default
---

<h1>Moons of Jupiter</h1>
<p>Jupiter has lots and lots of moons.</p>

<h2>List of Large Jovian Moons</h2>

<ul class="moons">
  {% for moon in site.pages %}
    {% if moon.category == "moon" %}
  <li class="moon">
    <img src="img/{{moon.image}}" alt="">
    <strong>{{moon.name}}</strong>
    <dl>
      <dt>Discovered by:</dt> <dd>{{moon.discoverer}}</dd>
      <dt>Discovered on:</dt> <dd>{{moon.date}}</dd>
    </dl>
    {{moon.content | markdownify}}
  </li>
    {% endif %}
  {% endfor %}
</ul>
